/*ABOUT US PAGE*/
about-main{
  max-width: 900px;
  margin: 80px auto 60px auto; /* leave room for fixed navbar */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  color: #000;
}

.about-main h1,
 .findme{
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Compotes-apple';
  margin-bottom: 1rem;
}
.about-main h2{
  text-align: center;
  font-size: 2.0rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: auto;
}
#about-body{
  background-size: 200% 200%;
  animation: softMove 15s ease-in-out infinite alternate;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stats-section {
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.stats-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}


.stats-text {
  flex: 1 1 400px; /* grow, shrink, min-width */
}

.stats-canvas {
  flex: 1 1 400px;
  text-align: center; /* center the canvas */
}

.stats-canvas canvas {
  max-width: 100%;
  height: auto;
}
.about-text-section h1,
.about-text-section h2 {
  transition: color 0.3s ease;
}