.main-class {
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color:rgba(255, 255, 255, 0.3);
border-radius: 20px;
font-family: 'Inter', sans-serif;
color: rgb(53, 65, 75);
}
.main-class:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
.about {
width: 50%;  
}

.stats-section {
  width: 50%;
}